apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-training
spec:
  selector:
    matchLabels:
      app: devops-training
  template:
    metadata:
      labels:
        app: devops-training
    spec:
      containers:
      - name: devops-training
        image: saibezaw/webapp:01613d15bd7bd1fc72f8e4859218ac010045c428
        ports:
            - name: http
              containerPort: 8080
  replicas: 2
---
apiVersion: v1
kind: Service
metadata:
  name: devops-training-app-service
  labels:
    app: devops-training
spec:
  type: NodePort
  ports:
  - port: 8080
    nodePort: 31884
    protocol: TCP
    name: http
  selector:
    app: devops-training
